.list--header {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}
.list--header h2 {
    color: #526d82;
}
.list--header select {
    border-radius: 10px;
    border: none;
    padding: 8px 12px;
    border: 1px solid #dde6ed;
    color: #526d82;
}

.list--header button {
    border-radius: 10px;
    border: none;
    padding: 8px 12px;
    border: 1px solid #dde6ed;
    color: #526d82;
    margin-right: 10px;
}

.image {
    width: 50px;
    height: 50px;
}

.list--container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list {
    display: flex;
    padding-right: 10px;
    align-items: left;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}
.teacher--detail {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #526d52;
    width: 100%;
}
.teacher--detail img {
    width: 50px;
    background: #dde6ed;
    border-radius: 50%;
}
.teacher--detail h2 {
    width: 170px;
}
.list:hover {
    background: #dde6ed;
    border-radius: 10px;
}
.middle-row, .address-row {
    width: 30%;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

.delete {
    float: right;
}
